<a href="https://colab.research.google.com/github/chmarano/IAEntregable2/blob/master/entregable2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cargamos la libreria numy y la libreria panda.

In [0]:
import numpy as np
import pandas as pd

In [8]:
!wget https://raw.githubusercontent.com/chmarano/IAEntregable2/master/train.csv -O train.csv

--2019-04-10 18:33:12--  https://raw.githubusercontent.com/chmarano/IAEntregable2/master/train.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19171 (19K) [text/plain]
Saving to: ‘train.csv’

train.csv           100%[===================>]  18.72K  --.-KB/s    in 0.01s

2019-04-10 18:33:12 (1.23 MB/s) - ‘train.csv’ saved [19171/19171]

In [9]:
df = pd.read_csv('train.csv')
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Prediction
0,40,Male,1.9,1.0,231,16,55,4.3,1.6,0.6,False
1,64,Male,0.9,0.3,310,61,58,7.0,3.4,0.9,True
2,40,Female,2.1,1.0,768,74,141,7.8,4.9,1.6,False
3,32,Male,25.0,13.7,560,41,88,7.9,2.5,2.5,False
4,48,Male,0.7,0.2,326,29,17,8.7,5.5,1.7,False

In [10]:
!wget https://raw.githubusercontent.com/chmarano/IAEntregable2/master/test.csv -O test.csv

--2019-04-10 18:34:00--  https://raw.githubusercontent.com/chmarano/IAEntregable2/master/test.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5679 (5.5K) [text/plain]
Saving to: ‘test.csv’

test.csv            100%[===================>]   5.55K  --.-KB/s    in 0s

2019-04-10 18:34:00 (66.3 MB/s) - ‘test.csv’ saved [5679/5679]

In [12]:
print(df.shape)
print(df.columns)

(437, 11)
Index(['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio', 'Prediction'],
      dtype='object')

In [13]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 11 columns):
Age                           437 non-null int64
Gender                        437 non-null object
Total_Bilirubin               437 non-null float64
Direct_Bilirubin              437 non-null float64
Alkaline_Phosphotase          437 non-null int64
Alamine_Aminotransferase      437 non-null int64
Aspartate_Aminotransferase    437 non-null int64
Total_Protiens                437 non-null float64
Albumin                       437 non-null float64
Albumin_and_Globulin_Ratio    437 non-null float64
Prediction                    437 non-null bool
dtypes: bool(1), float64(5), int64(4), object(1)
memory usage: 34.6+ KB
None

In [0]:
df['Prediction'] = df['Prediction'].astype('int64')

In [17]:
df.describe()

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Prediction
count,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000
mean,44.881007,3.291762,1.481465,290.757437,84.057208,114.210526,6.524714,3.180092,0.958238,0.290618
std,16.382597,6.377841,2.794080,243.309400,200.949407,322.074848,1.069224,0.778667,0.316748,0.454568
min,4.000000,0.400000,0.100000,63.000000,10.000000,10.000000,2.800000,1.400000,0.300000,0.000000
25%,33.000000,0.800000,0.200000,175.000000,23.000000,25.000000,5.800000,2.600000,0.750000,0.000000
50%,45.000000,1.000000,0.300000,208.000000,35.000000,42.000000,6.600000,3.100000,1.000000,0.000000
75%,58.000000,2.600000,1.300000,298.000000,60.000000,85.000000,7.200000,3.800000,1.100000,1.000000
max,90.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,1.000000

In [18]:
df.describe(include=['object', 'bool'])

       Gender
count     437
unique      2
top      Male
freq      327

In [20]:
df['Prediction'].value_counts()

0    310
1    127
Name: Prediction, dtype: int64

In [21]:
df['Prediction'].value_counts(normalize=True)

0    0.709382
1    0.290618
Name: Prediction, dtype: float64